<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="css/home.css">
 <title>Todo list</title>
</head>

<body>
 <div class="container">
  <div class="header">
   <h1>TODO App</h1>
  </div>
  <div class="input-area">
   <div class="input">
    <lable>DESCRIPTION</lable>
    <textarea name="desc" required class="desc" type="text" placeholder="What do you need to do"></textarea>
   </div>
   <div class="row">
    <div class="input">
     <lable>CATEGORY</lable>
     <select name="category">
      <option>Category 1</option>
      <option>Category 2</option>
     </select>
    </div>
    <div class="input">
     <lable>DATE</lable>
     <input class="date" name="date" type="date" />
    </div>
   </div>
  </div>
 </div>
</body>

</html>